
/.settings
/target
/test-output
/.vscode
/test-data/~$*.xlsx
/debug.log
/.classpath
/.factorypath
/bin
/run.sh
/run.bat
*.class

.DS_Store

# Override of configuration file
configuration/config.override.properties
